version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: capella_web_engine
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
